<% if @artical.errors.any?%>
    <ul>
       <%=@artical.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
       <%end%>
    </ul>
<%end%>
<%= form_for @artical do |a|%>
    <p>
        <%= a.label:title%><br/>
        <%=a.text_field:title%>
    </p>
    <p>
        <%= a.label:description%><br/>
        <%=a.text_area:description%>
    </p>
    <p>
        <%=a.submit%>
    </p>
<%end%>
     <button> <%=link_to "Back to listing",articals_path%></button>
