<h1>show page</h1>

<p>title:<%=@artical.title%></p>
<p>description:<%=@artical.description%></p>

<%=link_to "Back to listing",articals_path%>
<button> <%=link_to "Go to edit",edit_artical_path%></button>
<button> <%=link_to "go to create new article",new_artical_path%></button>