<h1 align="center">title:<%=@artical.title%></h1>
    <div class="well col-xs-10 col-xs-offset-2">
        <h1 class="center description"><strong>Description</strong></h1>
        <hr>
        <%= simple_format(@artical.description)%>
        <div class="artical-actions center">
            <%=link_to "Back to listing",articals_path,class: "btn btn-success"%>
            <%=link_to "Edit this article",edit_artical_path,class: "btn btn-primary"%>
            <%=link_to "Create Article",new_artical_path,class: "btn btn-success"%>
            <%=link_to "Delete this article",artical_path(@artical), method: :delete, data: {confirm:"are you sure to delete this article"}, class: "btn btn-danger"%>
        </div>
    </div>

 